.budgetBuilder {
    display: flex;
}

.budgetBox {
    flex: 1;
    border: 1px solid black;
}

.expenseList {
    list-style: none;
}

.budgetHeader {
    display: flex;
    align-items: center;
}

.budgetList {
    display: flex;
    flex-wrap: wrap;
}

.centerButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spanCount {
    margin: 10px;
}

.puzzleForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.puzzleForm input {
    margin: 5px 0;
}
.puzzleForm button {
    margin-top: 10px;
}
.borderedTable {
    border-collapse: collapse;
    width: 100%;
}
.borderedTable th, .borderedTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.borderedTable th {
    background-color: #f2f2f2;
}
.editPlayer {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin: '10%'
}
.deletePlayer {
    cursor: pointer;
    color: red;
    text-decoration: underline;
    margin-left:40%;
}

.highlight {
    background-color: yellow;
}

.inProgressPlayer {
    background-color: rgb(8, 243, 8);
}
.nextPlayer {
    background-color: rgb(203, 238, 149);
}